<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanshifu.demo_module">

    <application>

        <activity android:name=".ui.activity.DemoMainActivity" />
        <activity android:name=".ui.activity.DemoAppInfoActivity"/>
        <activity android:name=".ui.activity.DemoWifiPasswordActivity"/>
        <activity android:name=".ui.activity.DemoSignCheckActivity"/>
        <activity android:name=".ui.activity.DemoInstalledAppListActivity"/>
        <activity android:name=".ui.activity.DemoPdfListActivity"/>
        <activity android:name=".ui.activity.DemoLeakActivity"/>
        <activity android:name=".ui.activity.DemoSwipeBackActivity"/>
        <activity android:name=".ui.activity.DemoTestActivity"/>
        <activity android:name=".ui.activity.DemoTabActivity"/>
        <activity android:name=".ui.activity.DemoPluginActivity"/>
    </application>

</manifest>