<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanshifu.video_module">

    <application>

        <activity android:name=".ui.activity.VideoMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.VideoDownLoadDetailActivity"/>
    </application>

</manifest>