<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanshifu.activity_name_module">

    <application>
        <activity android:name=".ui.activity.ShowActivityNameMainActivity" />

        <service
            android:name=".service.MyAccessServices"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <mate-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility" />
            </intent-filter>
        </service>
        <service android:name=".service.WindowService"/>

    </application>

</manifest>