<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lanshifu.demo_module">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!--安装未知来源应用的权限-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/demo_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".DemoApplication"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ui.activity.DemoMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.DemoAppInfoActivity"/>
        <activity android:name=".ui.activity.DemoWifiPasswordActivity"/>
        <activity android:name=".ui.activity.DemoSignCheckActivity"/>
        <activity android:name=".ui.activity.DemoInstalledAppListActivity"/>
        <activity android:name=".ui.activity.DemoPdfListActivity"/>
        <activity android:name=".ui.activity.DemoLeakActivity"/>
        <activity android:name=".ui.activity.DemoSwipeBackActivity"/>
        <activity android:name=".ui.activity.DemoTestActivity"
            android:process=":remote"/>
        <activity android:name=".ui.activity.DemoTabActivity"/>
        <activity android:name="com.lanshifu.plugin_core.PluginProxyActivity"/>
        <activity android:name=".ui.activity.DemoPluginActivity"/>
        <activity android:name=".ui.activity.DemoGuardActivity"/>
        <activity android:name=".ui.activity.DemoTouchEventActivity"/>
        <activity android:name=".ui.activity.DemoSettingActivity"/>
        <activity android:name=".ui.activity.DemoExpandableTextViewActivity"/>
        <activity android:name=".ui.activity.DemoLitepalActivity"/>
        <activity android:name=".ui.activity.DemoBehavior1Activity"/>
        <activity android:name=".ui.activity.DemoBehavior2Activity"/>
        <activity android:name=".ui.activity.DemoBehavior3Activity"/>
        <activity android:name=".ui.activity.DemoGuideActivity" />
        <activity android:name=".ui.activity.DemoRxjavaActivity" />
        <activity android:name=".ui.activity.DemoWebViewActivity" />
        <activity android:name=".ui.activity.DemoSharedElementActivity" />
        <activity android:name=".ui.activity.DemoSharedElementDetailActivity" />
        <activity android:name=".ui.activity.DemoAnimateActivity" />


        <service android:name=".service.GuardService"
            android:process=":guard_service"/>

         <service android:name=".service.MainService"
            android:process=":main_service"/>

        <service android:name=".service.JobWakeUpService"
            android:process=":JobWakeUpService"/>

    </application>

</manifest>